<%- model_class = LogEntry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Wine</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:tasted_on) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @log_entries.each do |log_entry| %>
      <tr>
        <td><%= link_to log_entry.id, log_entry_path(log_entry) %></td>
        <td><%= log_entry.wine.name %></td>
        <td><%= log_entry.name %></td>
        <td><%= log_entry.rating %></td>
        <td><%= log_entry.location %></td>
        <td><%= log_entry.tasted_on %></td>
        <td><%=l log_entry.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
