<h1>WinesController#show</h1>
<p>Find me in app/views/wines_controller/show.html.erb</p>

<p>
  <b>Name:</b>
  <%=h @name.name %>
</p>

<p>
  <b>Year:</b>
  <%=h @year.year %>
</p>

<p>
  <b>Winery:</b>
  <%=h @winery.winery %>
</p>

<p>
  <b>Country:</b>
  <%=h @country.country %>
</p>

<p>
  <b>Varietal:</b>
  <%=h @varietal.varietal %>
</p>


<%= link_to 'Edit', edit_nane_year_winery_country_varietal_path(@name, @year, @winery, @country, @varietal) %> |
<%= link_to 'Back', name_year_winery_country_varietal_path(@wines) %>
