<%- model_class = Wine -%>
<div class="page-header">
  <%= link_to 'New', new_wine_path,
            :class => 'btn btn-primary pull-right' %>
  <h1>Wines</h1>
</div>
<%= page_entries_info @wines %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:winery) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:varietal) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= link_to wine.id, wine_path(wine) %></td>
        <td><%= link_to wine.name, wine_path(wine) %></td>
        <td><%= wine.year %></td>
        <td><%= wine.winery %></td>
        <td><%= wine.country %></td>
        <td><%= wine.varietal %></td>
        <td><%=l wine.created_at %></td>
        <td>
          <%= link_to "Edit", edit_wine_path(wine), :class => 'btn btn-primary btn-xs' %>
          <%= link_to "Delete", wine_path(wine),
                      :method => :delete,
                      :data => { :confirm => "Are you sure?" },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>


  </tbody>
</table>

    <%= paginate @wines %>

